<h1>Showing selected articles</h1>
<p><%= @article.title %></p>
<p><%= @article.description %></p>
<%= link_to "Back to Articles", articles_path %>|
<%= link_to "Edit Articles", edit_article_path(@article) %>