$navbar-default-bg: #0055AA;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float : left;
  font-size: 1.7em;
  color: #F7F7F7;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;

}

#logo:hover{
  color: #F7F7F7;
  text-decoration: none;
}
.center{
  text-align: center;
}
.jumbotron{
  background-image: asset-url('pexels-photo-574177.jpeg');
  color: #008080;
  background-size:cover;
  height:500px;
}
.btn-xlarge{
  font-size: 1.7em;
  background-color:black;
}
.footer{
  margin-top: 45px;
  padding-top: 40px;
  border-top:1px solid #eaeaea;
  color: #777;
}
footer a:hover{
  color: #222222;

}
footer small{
  float:left;
}
footer ul{
  float:right;
  list-style: none;
}
footer ul li{
  float:left

}
