<div class="container">
  <footer class="footer">
    <smalll>
      Copyright &copy;<a href = "https://www.linkedin.com/in/edwin-mwaniki-524436b7">Edwin </a><br>
      <%= link_to "Home",root_path %><br>
      <%= link_to "About",about_path%>
    </smalll>
  </footer>
</div>
